/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font: 16pt/1.5em "Ubuntu Mono", sans-serif;
    color: #555;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #ff7200;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px dashed #555;
    margin: 2em 0 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

article {
    margin-bottom: 13px;
    width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

nav#links {
    margin: 1em 9px;

}
nav#links a {
    margin-right: 20px;
    color: #555;
}


/* indented text */
div.main, section#preheader {
    z-index: 10;
    width: 1000px; /* start of wide grid, x10 */
    background-color: white;
    padding: 0 40px 0 20px;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 2em;
}

#pre-wrapper {
     position: fixed;
     width: 100%;
     top: 0;
}

section#preheader {
    height: 1em;
    margin: auto;
    font-size: 
}

section header {
    float: left;
}

.left, .right {
    margin: 10px;
}

.left {
    width: 380px;
    margin-left: 0;
    float: left;
}

.right {
    width: 600px;
    margin-right: 0;
    float: right;
}

hr.right {
    margin: 1em 0 1em 10px;
}

p {
    text-indent: 0;
    padding-right: 20px;
}

p.first {
  margin-top: 0;
}

.section {
    /* for the hr.right div.section wrapper */
    min-height: 2em;
}

section.section, section.subsection {
    margin-top: 1em;
    width: 1000px;
}

aside#left {
    top: 128px;
    position: fixed;
    width: 50%;
    z-index: 1; /* so hoverstates do not break for h#s */
}

aside#left a {
    color: #afafaf;
}

.spacer {
    float: right;
    width: 536px;
    z-index: 0;
}

nav#table-of-contents {
    /* disable sidebar */
    display: none;
    float: left;
    /*margin-right: 341px;*/
    width: auto;
    z-index: 5;
}

nav#table-of-contents:first-child {
    /* the positioning of the sidebar should line up with the header
     * so it is important the first ul does not have it's own top margin
     */
    margin-top: 0;
}

nav#table-of-contents ul {
    padding: 0 0 0 10px;
}

nav#table-of-contents ul: {
    padding: 0 0 0 10px;
}


/* ToC nav special cases */
nav#table-of-contents li.toc-title:before {
    content: '❧ ';
    font-size: 30px;
    margin: .2em 0 0 -1em;
}

/*// UNPUBLISHED subsections*/
/*// OER section doesnt fit the overall flow without more content*/
#oer, #yawnlog, #other {
    display: none;
}




/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

header.head {
    /*border-bottom: 1px solid #c3c3c4;*/
    margin-bottom: -10px;
}

h1, h2, h3, h4, h5 {
  font: 16pt/1.5em "Ubuntu Mono", sans-serif;
  /*color: #02CDE5;*/
  color: #555;
}

h1 {
  margin: 0;
}

h1 em:hover {
  color: #ff7200;
  font-style: normal;
}

h1.title {
  color: #555;
  font-size: 96pt;
  line-height: .82em;
}

h2 {
  margin: 0;
  /*line-height: 1.5em;*/
  /*text-transform: uppercase;*/
}

h3 {
  margin: 0;
}

blockquote#about {
    font: 16pt/1.5em "Ubuntu Mono", sans-serif;
    /*color: #02CDE5;*/
    color: #555;
    margin: .5em 0;
}

blockquote#about a {
    color: #555;
}
blockquote#about a:hover {
    color: #02CDE5;
}


a {
  color: #02cde5;
  text-decoration: none;
}

a:hover {
  color: #ff7200;
}

.wrapper {
    padding: 0;
    margin: 0 5%;
}

img {
    padding: 1em 20px 1em 0;
}

.right {
    float: right
}

table {
  width: 90%;
  margin: auto;
}

td {
  width: 50%;
}

a.anchor {
  margin-left: -1.5em;
  padding-right: 0.7em;
  color: white;
  float: right;
}

.anchored {
  display: block;
}

.anchored:hover a {
  color: black;
}

section.edu, section.archive, section.code {
  margin-top: 55px;
}


/* ==============
    MOBILE: Menu
   ============== */

header nav ul {
    margin: 0;
    padding: 0;
}

header nav a {
    color: #02cde5;
    font-size: 30pt;
    text-decoration: none;
}

header nav a:hover {
    color: #ff7200;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding-top: 1em;
}


.main blockquote {
    color: #ad3f3f;
    font-style: italic;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    header nav a {
        float: left;
        width: 20px;
        margin: 0 1.7%;
        padding: 1em 2%;
        margin-bottom: 0;
    }

    header nav li:first-child a {
        margin-left: 0;
    }

    header nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    /*nav#links ul li {
        display: inline;
        float: left;
        padding-right: 20px;
        font-size: 18pt;
    }*/


    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    /*.main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }*/

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }


/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
    }

    /*.main aside {
        float: right;
        width: 28%;
    }*/
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 640px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
