<!DOCTYPE html>
<html lang="en-US">
<head>
  {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />

    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
  {% endblock %}
  {% block pagestyle %}
  {% endblock %}
</head>

<body>

  <header>
    <h1>
      <a href="{{ SITEURL }}/">
        Seth Wolfwood is {% block subtitle %}{% endblock %}
      </a>
    </h1>

    {% block nav %}
      <nav>
        <ul>
          {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    {% endblock %}
  </header>

  <main>
  {% block content %}
  {% endblock %}
  </main>

  <footer>
    build with <a href="http://python.org">🐍</a>&nbsp; but mainly <a href="http://getpelican.com/">pelican</a>, <a href="http://github.com/sethwoodworth/seth.wolfwood.is/">source</a>
  </footer>
</body>
</html>
