<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content=""> 
    <meta property="og:title" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>seth.wolfwood.is</title>
<style>

</style>
  </head>
  <body>
    <header>
      <h1></h1>
    </header>
    <nav>
    </nav>
    <main>
      <article>
      </article>
      <aside>
      </aside>
    </main>
  </body>
</html>
