{% extends "base.html" %}

{% block title %}{{ SITENAME }} > writing{% endblock %}

{% block head %}
  {{ super() }}
  <meta
    name="description"
    content="Seth Wolfwood is writing a blog, from time to time, often on tech projects I'm working on, or would like to work on">
{% endblock %}

{% block pagestyle %}
<style>
ul {
  list-style:none;
}
section > h1 {
  font-size: 1.25em;
}
</style>
{% endblock %}

{% block content_title %}
<h2>Writings</h2>
{% endblock %}

{% block content %}
<section>
  <ul>
  {% for article in articles %}
    <li>
      <article>
        <header>
          <h2>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
          </h2>
          <time
            datetime="{{ article.date.isoformat() }}">
            {{ article.date | strftime('0%Y-%M-%d') }}
          </time>
        </header>
        <section>
          {{ article.summary }}
        </section>
      </article>
    </li>
  {% endfor %}
  </ul>
</section>
{% endblock %}
